* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

footer{
  width: 100%;
  background-color: #006BB6;
  position: relative;
  bottom: 0;
  height: 60px;
}

p{
  color: #FDB927;
}

.column{
  width: 100%;
}

nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

nav li{float:left;}

nav a:link, nav a:visited{
  display:block;
  width:120px;
  font-weight: bold;
  color: #FFFFFF;
  background-color:#006BB6;
  text-align: center;
  padding: 4px;
  text-decoration:none;
  text-transformation: uppercase;
}

nav a:hover, nav a:active{
  background-color: #000000;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*For Mobile: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 425px) {
  /*For Mobile: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  /*For Tablet: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /*For Desktop: */
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

.blue{color: #006BB6 !important;}

.gold{color: #FDB927 !important;}

.black{color: #0000000 !important;}